body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto;   /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* BEGIN (write your solution here) */

#header {margin-bottom: 32px;}

h1 {
 text-align: center;
 font-size: 36px;
 margin: 1px;}


h2 {
 text-align: center;
 font-size: 32px;
 margin: 1px; }


p {
text-align: center;
margin: 1px;}

#main {text-align: center;}

#footer {
margin-top: 64px;
text-align: center;}
h4 {font-size: 64px;}
#low-footer {
margin-top: 160px;
text-align: center;}
button {
  /* размеры кнопки */
  width: 100px;
  height: 40px;
  /* граница элемента */
  border: 1px solid black;
  /* белый фон */
  background-color: white;
  /* сложно — чтобы кнопка была по центру экрана */
   position: absolute;
  transform: translate(-50%, -50%);
  top: 100%;
  left: 50%;
  /* уберем подсветку кнопки при клике */
  outline: none;
  /* приятно — плавные переходы при наведении */
  transition: all .4s ease;
  /* настройки шрифта */
  font-family: 'Arial Narrow', sans-serif;
  font-size: 20px;
}

/* стили для кнопки при наведении */
button:hover {
  /* курсор — палец */
  cursor: pointer;
  /* малиновая тень */
  box-shadow: 4px 4px crimson;
}
.clicked {
    /* background-color — для цвета фона */
  background-color: black;
    /* color — для цвета текста */
  color: white;
}
